priority 1

snippet head "add head to file" b
/*
	Use of this source code is governed by a BSD-style license

	Author: 	 ZongYang
	Date: 		 `!v strftime("%F")`
	Description: $1
	Version: 	 ${2:0.0.1}
*/
$0
endsnippet

snippet dfnc1 "function and comment" b
/*
 * Description:$5
 * 
 * @param  	$4	$3
 * @return 	$1
 */
${1:void} ${2:function}($3 $4){
	$0
	
}
endsnippet
