snippet head "add head to file" b
/*
	Use of this source code is governed by a BSD-style license

	Author: 	 ZongYang
	Date: 		 `!v strftime("%F")`
	Description: $1
	Version: 	 ${2:0.0.1}
*/
$0
endsnippet
